---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    DevOps Engineer com 2 anos de experiência em automação de infraestrutura e orquestração de containers. Possuo habilidades em Kubernetes, Docker, Terraform, Golang e Powershell, com foco na otimização de processos de CI/CD. Atualmente, sou Analista I de Desenvolvimento em Cloud pela TOTVS, atuando no time de DevOps. Além da minha expertise técnica, fora das telas costumo ir para a academia, andar de bicicleta e jogar RPG de mesa.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UCB - Universidade Católica de Brasília"
      subtitle="2024-2029 / Bacharel em Ciência da Computação"
    />
    <TimeLineElement
      title="ETB - Escola Técnica de Brasília"
      subtitle="2017-2019 / Técnico de Informática"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="TOTVS"
      subtitle="Out/2022 - Hoje / Analista I de Desenvolvimento Cloud"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="CACB - Confederação das Associações Comerciais e Empresariais do Brasil"
      subtitle="Ago/2022 - Out/2022 / Estagiário"
    >
      
      Desenvolvi features e mantive o sistema utilizando PHP e Zend Framework, além de gerar e integrar relatórios automatizados com Zoho e SQL. Usufrui de containers com Docker e auxiliei na administração de bancos de dados utilizando PostgreSQL.
    </TimeLineElement>
    <TimeLineElement
      title="Knal Games"
      subtitle="Ago/2016 - Ago/2020 / Atendente de Informática"
    >  
      Prestei atendimento ao cliente, efetuei vendas, administrei a lan house, configurei e gerenciei a rede, realizei manutenções preventivas e corretivas em computadores.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://on.fiap.com.br/pluginfile.php/1/local_nanocourses/certificado_nanocourse/54339/f4d3bd961cde61a03d409284288f745f/certificado.png" target="_blank"> Cloud Fundamentals, Administration and Solution Architect (FIAP)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Kubernetes</li>
    <li>Docker</li>
    <li>Terraform</li>
    <li>CI/CD</li>
    <li>Prometheus</li>
    <li>Grafana</li>
    <li>Github Actions</li>
    <li>Golang</li>
    <li>Powershell</li>
    <li>AWS</li>
    <li>Google Cloud</li>
    <li>SQL</li>
    <li>Linux</li>
    <li>Windows</li>
    <li>Troubleshooting</li>
    <li>Scrum</li>
    <li>Kanban</li>
  </ul>
</BaseLayout>
