---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UCB - Universidade Católica de Brasília"
      subtitle="2024-2029 / Bacharel em Ciência da Computação"
    />
    <TimeLineElement
      title="ETB - Escola Técnica de Brasília"
      subtitle="2017-2019 / Técnico de Informática"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="TOTVS"
      subtitle="Out/2022 - Hoje / Analista de Desenvolvimento Cloud I"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="CACB - Confederação das Associações Comerciais e Empresariais do Brasil"
      subtitle="Ago/2022 - Out/2022 / Estagiário"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Knal Games"
      subtitle="Ago/2016 - Ago/2020 / Atendente de Informática"
    >  
  I provided customer service, made sales, managed the internet café, configured and carried out preventive and corrective maintenance on computers.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://on.fiap.com.br/pluginfile.php/1/local_nanocourses/certificado_nanocourse/54339/f4d3bd961cde61a03d409284288f745f/certificado.png" target="_blank"> Cloud Fundamentals, Administration and Solution Architect (FIAP)</a>
    </li>
    <li>
      <a href="https://www.linuxtips.io/certificate_v2/64ae85bacd0742414d0d743d/user/651e048224428c6dd309168b" target="_blank"> Python Essentials (LinuxTIPS)</a>
    </li>
    <li>
      <a href="https://www.linuxtips.io/certificate_v2/64c51b326af54bba990b8059/user/651e048224428c6dd309168b" target="_blank"> Docker Essentials (LinuxTIPS)</a>
    </li>
    <li>
      <a href="https://www.origamid.com/certificate/2cf0a58a/" target="_blank"> JavaScript ES6+ (Origamid)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>DevOps</li>
    <li>CI/CD</li>
    <li>Kubernetes</li>
    <li>Docker</li>
    <li>Python</li>
    <li>Powershell</li>
    <li>JavaScript</li>
    <li>Node.js</li>
    <li>PostgreSQL</li>
    <li>Oracle</li>
    <li>MySQL</li>
    <li>AWS</li>
    <li>GCP</li>
    <li>Linux</li>
    <li>Windows</li>
    <li>Troubleshooting</li>
    <li>Scrum</li>
    <li>Kanban</li>
  </ul>
</BaseLayout>
