---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Matheus Borges</div>
    <!-- <div class="text-3xl py-3 font-bold">DevOps Engineer</div> -->
    <div class="py-2">
      <text class="text-lg">
        DevOps Engineer com 2 anos de experiência em automação de infraestrutura e orquestração de containers. Possuo habilidades em Kubernetes, Docker, Terraform, Golang e Powershell, com foco na otimização de processos de CI/CD. Atualmente, sou Analista I de Desenvolvimento em Cloud pela TOTVS, atuando na área de DevOps.
      </text>
    </div>
    <div class="mt-5">
      <a href="https://drive.google.com/file/d/1WIZmrwg9nAkATU5AAa1RNTTVPVKsXh4I/view?usp=sharing" target="_blank" class="btn btn-outline ml-5">
        Download CV
      </a>
      <a href="https://github.com/mattborgesdev" target="_blank" class="btn btn-ghost ml-5">
        Github
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last project {"</>"}</div>
  </div>

  <HorizontalCard
    title="Calculadora de Preços"
    img="/post1_img.png"
    desc="Desenvolvi uma aplicação simples para comparar preços entre produtos, ajudando o usuário a identificar a melhor opção com base no preço e na quantidade. O projeto foi construído utilizando Express.js, Bootstrap, Docker e Github Actions."
    url="https://calculadora-de-precos.onrender.com/"
    badge="NEW"
  />

</BaseLayout>
